// Add Font
@font-face {
    font-family: "Poly";
    src: url("../../fonts/Poly-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poly Italic";
    src: url("../../fonts/Poly-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("../../fonts/OpenSans-Italic.ttf") format("truetype");
}
